<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary text-capitalize">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#add-pembayaran"
      >
        tambah pembayaran
      </button>
    </h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>nama siswa</th>
            <th>tanggal bayar</th>
            <th>bulan</th>
            <th>kursus</th>
            <th>jumlah pembayaran</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < pembayaran.length; i++){ %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= pembayaran[i].name %></td>
            <td><%= pembayaran[i].TanggalPembayaran.toLocaleString().split(' ')[0] %></td>
            <td><%= pembayaran[i].PembayaranBulan %></td>
            <td><%= pembayaran[i].nameKursus %></td>
            <td>Rp.<%= pembayaran[i].jumlahPembayaran %></td>
            <td>
              <form action="/admin/pembayaran/<%= pembayaran[i].id %>?_method=DELETE" method="POST">
              <a
                href="javascript:void()"
                type="button"
                class="btn btn-circle btn-warning btn-sm btn-edit"
                data-id="<%= pembayaran[i].id %>"
                data-name="<%= pembayaran[i].name %>"
                data-tanggal="<%= pembayaran[i].TanggalPembayaran.toLocaleString().split(' ')[0] %>"
                data-bulan="<%= pembayaran[i].PembayaranBulan %>"
                data-kursus="<%= pembayaran[i].nameKursus %>"
                data-total="<%= pembayaran[i].jumlahPembayaran %>"
                
                ><i class="fas fa-edit"></i
              ></a>
              <button type="submit" class="btn btn-circle btn-danger btn-sm"
                ><i class="fas fa-trash"></i
              ></button>
            </td>
            </form>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
